<div class="col-md-12">
    <h2>Check returns</h2>
    <form name="form" (ngSubmit)="f.form.valid && order()" #f="ngForm" novalidate>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Book ISBN</th>
                    <th>Book Title</th>
                    <th>Returning status</th>
                    <th>Quantity</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let returns of ReturnsItems">

                    <td>
                        {{returns.ID_ORDER_ITEMS}}
                    </td>
                    <td>
                        {{returns.ISBN}}
                    </td>
                    <td>
                        {{returns.TITLE}}
                    </td>
                    <td class="text-danger">
                        {{returns.ID_RETURNING_STATUS}}
                    </td>
                    <td>
                        {{returns.QUANTITY}}
                    </td>
                    <td>
                        <button (click)="ItemConfirmed(returns.ID_ORDER_ITEMS)" class="btn btn-success"  [disabled]="returns.ID_RETURNING_STATUS>=2">
                            Confirmed &nbsp;
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button (click)="ItemCompleted(returns.ID_ORDER_ITEMS)" class="btn btn-success" [disabled]="returns.ID_RETURNING_STATUS!=2 ">
                            Completed &nbsp;
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
</div>