<div class="col-md-12">
    <h2>Cart List</h2>
    <form name="form" (ngSubmit)="f.form.valid && order()" #f="ngForm" novalidate>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Book ISBN</th>
                    <th>Book Title</th>
                    <th>Book Author</th>
                    <th>Book Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of CartItems">
                    <th scope="row">
                        {{item.ID_ORDER}}
                    </th>
                    <td>
                        {{item.BOOK.ISBN}}
                    </td>
                    <td>
                        {{item.BOOK.TITLE}}
                    </td>
                    <td>
                        {{item.BOOK.AUTHOR}}
                    </td>
                    <td>
                        {{item.BOOK.PRICE}}
                    </td>
                    <td>
                        <form>
                            <input type="number" name="QUANTITY" [(ngModel)]="item.QUANTITY" #quantity="ngModel" required>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group offset-11">
            <button  class="btn btn-success">Order</button>
        </div>
    </form>
</div>