<div class="col-md-12">
  <h2>Cart List</h2>
  <form name="form" (ngSubmit)="f.form.valid && order()" #f="ngForm" novalidate>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th></th>
          <th>Book ISBN</th>
          <th>Book Title</th>
          <th>Book Author</th>
          <th>Book Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of CartItems">
          <td>
            <a (click)="deleteItem(item.ID_ORDER_ITEMS)" class="btn btn-danger">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            {{item.BOOK.ISBN}}
          </td>
          <td>
            {{item.BOOK.TITLE}}
          </td>
          <td>
            {{item.BOOK.AUTHOR}}
          </td>
          <td class="text-danger">
            {{item.BOOK.PRICE}}
          </td>
          <td>
            <form>
              <input type="number" name="QUANTITY" [(ngModel)]="item.QUANTITY" #quantity="ngModel" required>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group form-inline offset-9">
      <button (click)="deleteOrder()" class="btn btn-danger mr-sm-2">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        Cancel Order
      </button>
      <button class="btn btn-success">Order
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>