<!-- main app container -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Bookshelf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/books']">
                    <i class="fa fa-book" aria-hidden="true"></i> Books</a>
            </li>
        </ul>
        <ul *ngIf="!this.isLogged" class="navbar-nav mr-0">
            <li class="nav-item">
                <a class="btn btn-dark btn-logout" [routerLink]="['/login']">Login</a>
            </li>
        </ul>
        <ul *ngIf="this.isLogged" class="navbar-nav mr-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cart']">
                    <i class="fa fa-shopping-cart"></i>
                    Cart
                </a>
            </li>
            
            <li *ngIf="this.isAdmin" class="nav-item">
                <a class="nav-link" [routerLink]="['/admin_returns']">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    Retuns
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/returns']">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    Give Back Books
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome {{currentUser.FIRSTNAME}}
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light btn-logout" [routerLink]="['/login']">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div style="padding: 4rem 2rem;">
    <router-outlet></router-outlet>
    <spinner></spinner>
</div>