
<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="FIRSTNAME">First Name</label>
            <input type="text" class="form-control" name="FIRSTNAME" [(ngModel)]="model.FIRSTNAME" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="LASTNAME">Last Name</label>
            <input type="text" class="form-control" name="LASTNAME" [(ngModel)]="model.LASTNAME" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="USERNAME">Username</label>
            <input type="text" class="form-control" name="USERNAME" [(ngModel)]="model.USERNAME" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="PASSWORD">Password</label>
            <input type="password" class="form-control" name="PASSWORD" [(ngModel)]="model.PASSWORD" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="EMAIL">E-mail</label>
            <input type="text" class="form-control" name="EMAIL" [(ngModel)]="model.EMAIL" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">E-mail is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
            <label for="PHONE">Phone</label>
            <input type="text" class="form-control" name="PHONE" [(ngModel)]="model.PHONE" #phone="ngModel" required />
            <div *ngIf="f.submitted && !phone.valid" class="help-block">Phone is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cap.valid }">
            <label for="CAP">CAP</label>
            <input type="text" class="form-control" name="CAP" [(ngModel)]="model.CAP" #cap="ngModel" required />
            <div *ngIf="f.submitted && !cap.valid" class="help-block">CAP is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
            <label for="CITY">City</label>
            <input type="text" class="form-control" name="CITY" [(ngModel)]="model.CITY" #city="ngModel" required />
            <div *ngIf="f.submitted && !city.valid" class="help-block">City is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
            <label for="COUNTRY">Country</label>
            <input type="text" class="form-control" name="COUNTRY" [(ngModel)]="model.COUNTRY" #country="ngModel" required />
            <div *ngIf="f.submitted && !country.valid" class="help-block">Country is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !street.valid }">
            <label for="STREET">Street</label>
            <input type="text" class="form-control" name="street" [(ngModel)]="model.STREET" #street="ngModel" required />
            <div *ngIf="f.submitted && !street.valid" class="help-block">Street is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>